.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@font-face {
  font-family: 'Eurostile LT Std';
  src: local('Eurostile LT Std'), url(./fonts/EurostileLTStdBoldExtended2.woff2) format('woff2');
}

body {
  height: 100vh;
}

.pl-10 {
  padding-left: 7rem !important;
}

.p-datatable.p-datatable-sm .p-datatable-tbody > tr > td {
  padding: 0 0.5rem;
}

.field {
  margin-bottom: 0rem !important;
}

.p-divider.p-divider-horizontal {
  margin: 0 0;
  padding: 0 1.25rem;
}

td {
  font-size: 11px;
}

div {
  font-family: 'Eurostile LT Std';
  font-size: 12px;
}

* {
  box-sizing: border-box;
}

.react-horizontal-scrolling-menu--scroll-container::-webkit-scrollbar {
  display: none;
}

.react-horizontal-scrolling-menu--wrapper {
  flex-wrap: wrap;
  justify-content: center;
}

.react-horizontal-scrolling-menu--scroll-container {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* --------------------------------------------- */

.container {  display: grid;
  grid-template-columns: 1100px 0.2fr;
  grid-template-rows: 195px 0.6fr 1.4fr;
  grid-auto-columns: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "Header ArmorPoints"
    "TopInformation ArmorPoints"
    "CriticalData InternalData";
}

.ArmorPoints { grid-area: ArmorPoints; }

.Header {
  justify-self: end; 
  grid-area: Header; 
}

.TopInformation {  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  grid-auto-columns: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "MechInformation WarriorInformation";
  grid-area: TopInformation;
}

.MechInformation {  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  grid-auto-columns: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    ".";
  grid-area: MechInformation;
}

.WarriorInformation {  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.1fr 0.9fr;
  grid-auto-columns: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "WarriorData"
    "CockpitImage";
  grid-area: WarriorInformation;
}

.WarriorData { 
  justify-self: center;
  grid-area: WarriorData; 
}

.CockpitImage {
  justify-self: center;
  align-self: start;
  grid-area: CockpitImage;
}

.CriticalData { grid-area: CriticalData; }

.InternalData {  display: grid;
  grid-template-columns: 0.05fr 1fr;
  grid-template-rows: 0.8fr 1fr;
  grid-auto-columns: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "InternalPoints HeatBar"
    "HeatSinks HeatBar";
  grid-area: InternalData;
}

.HeatBar {
  justify-self: start;
  grid-area: HeatBar;
}

.InternalPoints { grid-area: InternalPoints; }

.HeatSinks { grid-area: HeatSinks; }

.armorPointsContainer {  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 36px 1fr;
  grid-auto-columns: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "."
    ".";
}

.internalContainer {  display: grid;
  grid-template-columns: 60px 1fr 60px 1fr 60px 1fr;
  grid-template-rows: 36px 0.5fr 0.5fr 0.5fr 0.5fr 1fr;
  grid-auto-columns: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "CriticalInternalBanner CriticalInternalBanner . Head . ."
    "LA13 LeftArm . Head RA13 RightArm"
    "LA46 LeftArm CT13 CenterTorso RA46 RightArm"
    "LT13 LeftTorso CT46 CenterTorso RT13 RightTorso"
    "LT46 LeftTorso . CriticalHits RT46 RightTorso"
    ". LeftLeg . DamageTransfer . RightLeg";
}

.LeftArm { grid-area: LeftArm; }

.LeftTorso { grid-area: LeftTorso; }

.LeftLeg { grid-area: LeftLeg; }

.CriticalInternalBanner { grid-area: CriticalInternalBanner; }

.LA13 { grid-area: LA13; }

.LA46 { grid-area: LA46; }

.LT13 { grid-area: LT13; }

.LT46 { grid-area: LT46; }

.Head { grid-area: Head; }

.CenterTorso { grid-area: CenterTorso; }

.CT13 { grid-area: CT13; }

.CT46 { grid-area: CT46; }

.CriticalHits { grid-area: CriticalHits; }

.DamageTransfer { grid-area: DamageTransfer; }

.RightArm { grid-area: RightArm; }

.RA13 { grid-area: RA13; }

.RA46 { grid-area: RA46; }

.RightTorso { grid-area: RightTorso; }

.RT13 { grid-area: RT13; }

.RT46 { grid-area: RT46; }

.RightLeg { grid-area: RightLeg; }

.mainApp {  display: grid;
  grid-template-columns: 10% 1fr 10%;
  grid-template-rows: 10% 1fr 10%;
  grid-auto-columns: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "Top Top Top"
    ". Content ."
    "Bottom Bottom Bottom";
}

.Top { grid-area: Top; }

.Bottom { grid-area: Bottom; }

.Content {
  justify-self: center; 
  align-self: center;  
  grid-area: Content; }

tr.red {
  background-color: red;
}

tr.none {
  background-color: white;
}

/* --------------------------------------------- */

.homeContainer {  display: grid;
  grid-template-columns: 0.4fr 1.3fr 1.3fr 1.3fr 1.3fr 00.4fr;
  grid-template-rows: 0.2fr 4fr 0.2fr;
  grid-auto-columns: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "HomeLeftMargin HomeMenuBar HomeMenuBar HomeMenuBar HomeMenuBar HomeRightMargin"
    "HomeLeftMargin HomeContent HomeContent HomeContent HomeContent HomeRightMargin"
    "HomeLeftMargin BottomMargin BottomMargin BottomMargin BottomMargin HomeRightMargin";
}

.HomeMenuBar { grid-area: HomeMenuBar; }

.HomeContent { grid-area: HomeContent; }

.HomeLeftMargin { grid-area: HomeLeftMargin; }

.HomeRightMargin { grid-area: HomeRightMargin; }

.BottomMargin { grid-area: BottomMargin; }

/* --------------------------------------------- */

#root {  
  display: grid;
  grid-template-columns: 0.4fr 1.3fr 1.3fr 1.3fr 1.3fr 00.4fr;
  grid-template-rows: 0.2fr 0.2fr 0.4fr 1fr 3.7fr 0.6fr;
  grid-auto-columns: 1fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "BayLeftMargin BayMenuBar BayMenuBar BayMenuBar BayMenuBar BayRightMargin"
    "BayLeftMargin BayFilterBar BayFilterBar BayFilterBar BayFilterBar BayRightMargin"
    "BayLeftMargin BayCardRoller BayCardRoller BayCardRoller BayCardRoller BayRightMargin"
    "BayLeftMargin Overview Overview Overview Overview BayRightMargin"
    "BayLeftMargin MechBay1 MechBay2 MechBay3 MechBay4 BayRightMargin"
    "BayLeftMargin Footer Footer Footer Footer BayRightMargin";
}

.BayFilterBar { grid-area: BayFilterBar; }

.BayMenuBar { grid-area: BayMenuBar; }

.BayCardRoller { grid-area: BayCardRoller; }

.BayLeftMargin { grid-area: BayLeftMargin; }

.BayRightMargin { grid-area: BayRightMargin; }

.Footer { grid-area: Footer; }

.MechBay1 { grid-area: MechBay1; }

.MechBay2 { grid-area: MechBay2; }

.MechBay3 { grid-area: MechBay3; }

.MechBay4 { grid-area: MechBay4; }

.Overview { grid-area: Overview; }